.navbar a, .navbar ul li {
    opacity: 0;
    animation: slideRight 1.5s ease-in-out forwards;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-image-animation > *{
    opacity: 0;
    animation: zoomRotateIn 1.5s ease-out forwards;
    animation-delay: calc(0.5s * var(--i));
}

@keyframes zoomRotateIn {
    0% {
        opacity: 0;
        transform: scale(0.6) rotate(-45deg);
    }
    60% {
        opacity: 1;
        transform: scale(1.05) rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}

.hero-content-animation {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
         opacity: 1;
        transform: translateY(0);
    }
}

.stats-animation {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 2s;
}